<h1>Input</h1>

In [3]:
first_name = input('Insert your first name')
middle_name = input('Insert your middle name')
last_name = input('Inser your last name')

print("Hello" , first_name,middle_name,last_name , "!!!")

Insert your first nameBilqis
Insert your middle nameZahra
Inser your last nameCantikkk
Hello Bilqis Zahra Cantikkk !!!

<h1>Menghitung Luas dan Keliling Persegi Panjang</h1>

In [13]:
nilai_p = input('Insert nilai panjang :')
nilai_l = input('Insert nilai luas :')

luas = int(nilai_p) * int(nilai_l)
keliling = 2* (int(nilai_p) + int(nilai_l))
               
print("Luas =", luas)
print("Keliling =", keliling)

Insert nilai panjang :10
Insert nilai luas :5
Luas = 50
Keliling = 30

<h1>Output</h1>

In [25]:
print("2","Desember","2005",sep='\n')
print(sep='\n')
print("2","Januari","2003",sep='-')
print(sep='\n')
print("2","Februari","2004",sep='/')

2
Desember
2005

2-Januari-2003

2/Februari/2004

In [30]:
print("1","3","5","7",sep="*",end="." '\n')
print("1","3","5","7",sep="*" * 5 ,end="." * 10)

1*3*5*7.
1*****3*****5*****7..........

In [33]:
L = 10
P = 5
print("Luas Persegi dengan Lebar {} dan Panjang {} = {}".format(L,P,L*P))

Luas Persegi dengan Lebar 10 dan Panjang 5 = 50

<h1>Memformat dengan Indeks</h1>

In [36]:
month_1 = "January"
month_2 = "February"
month_3 = "March"

print("Name of month {0},{1}".format(month_1,month_2))

Name of month January,February

In [40]:
print("My name {fname} {lname}".format(fname='Zaraa',lname='Bilqis'))

My name Zaraa Bilqis

<h1>Indexing dan String</h1>

In [50]:
campus = "Harvard University"

print(campus[0])

#Menggunakan Range
print(campus[0:7])
print(campus[0:])
print(campus[-1:])

#Reverse
print(campus[::-1])

H
Harvard
Harvard University
y
ytisrevinU dravraH

<h1>Interpolasi menggunakan String</h1>

In [52]:
p = 10
l = 20

print(f'Luas Persegi = {l*p}')
print(f'Keliling Persegi = {2*(p+l)}')

Luas Persegi = 200
Keliling Persegi = 60

<h1>Fungsi</h1>

In [53]:
student_name = "Alexa, Xena, Queen"

print(student_name.split(','))  #Merubah dari string ke list
print('@'.join(student_name.split(',')))  #Merubah dari list ke string

['Alexa', ' Xena', ' Queen']
Alexa@ Xena@ Queen

In [9]:
name = input("Insert your Name :")
birthday = input("Insert your Birthday :")

birth = birthday.split('/')
names = name.split()

print(f"Your name : {name}")
print(f"Date : {birth[0]}")
print(f"Month : {birth[1]}")
print(f"Year : {birth[2]}")
print(f"Initial : {names[0][0]}{names[1][0]}")

Insert your Name :Bilqis zahra
Insert your Birthday :02/12/2005
Your name : Bilqis zahra
Date : 02
Month : 12
Year : 2005
Initial : Bz